.contact {
  box-shadow: 1px 1px 1px $lightGray;
  background: $offWhite;
  font-family: $sansSerif;
  font-weight: 600;
  margin: 0 auto;
  max-width: 800px;
  padding: $spacer / 2;

}

.contact__title {
  @include textShadow(1px, 1px, 1px, $hotpink);  
  background-color: $hotpink;
  color: $white;
  font-size: $lgFont;
  margin: 0 auto;
  padding: $spacer / 3;
}

.contact ul {
  padding: $spacer 0;
  list-style-type: none;
  margin: 0;    
  width: 100%;
}

.contact__listItem {
  font-size: 1.25em;
  font-weight: 300;

  @include lg {
    font-size: 1.75em;
    padding: $spacer / 6  $spacer;
  }
}

.contact__itemIcon {
  font-size: 30px;  
  padding-right: 6px; 
  vertical-align: middle;
}