.resume {
  box-shadow: 1px 1px 1px $lightGray;
  background: $offWhite;
  font-family: $sansSerif;
  font-weight: 600;
  padding: $spacer / 2;
  margin: 0 auto;
  max-width: 960px;

  @include lg {
    padding: $spacer * 3;
  }
}

.resume__name {
  @include textShadow(1px, 1px, 1px, $lightGray);  

  font-size: $medFont;
  margin: 0 0 $spacer / 4 0;
}

.resume__contact {
  display: flex;
  flex-direction: column;
  font-weight: $regular;

    @include sm {
      flex-direction: row;
    } 
}

.resume__contact ul {
  padding: 0;
  list-style-type: none;
  margin: 0;    
  width: 100%;

  @include lg {
    flex-basis: calc(100% / 3);
    max-width: calc(100% / 3);
  }
}

.resume__contact ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;

  @include sm {
    flex-direction: column;
  }
}
//align padding other el hover state
.resume__contact ul li:first-child {
  padding-bottom: $spacer / 2;
}

.resume__contact ul li {
  padding: $spacer / 6;
}

//disable :focus, :active style for to non-nav links
.resume__contact .contact__inner--bottom
.hover--grow:focus:before, 
.hover--grow:active:before {
  left: initial;
  right: initial;
}

.resume__icon {
  padding-right: 3px;
}

.resume__copy {
  font-size: $fontBase;
  font-weight: 300;
  line-height: 1.25;   
}

.resume__techlist{
  font-weight: 300;
}

.resume__techlist h3 {
  @include textShadow(1px, 1px, 1px, $lightGray);  
  margin: 0 0 $spacer /2 0;
}

.resume__techlist h3 .fas  {
  color: $hotpink;
}

.resume__techlist ul {
    margin: 0; 
    padding: 0;
}

.resume__techlist .resume__techItem {
  margin-left: 1.25em;  
}



.resume__category {
  @include textShadow(1px, 1px, 1px, $lightGray);  
  color: $black;
  font-size: $medFont;
  margin: $spacer / 2 0;
}

.resume__pos h3, h4, h5 {
  margin: $spacer / 3 0;
}

.resume__pos h3 {
  font-weight: 500; 
}

.resume__pos h3 span,
.resume__ed h4 span {
  font-weight: 300;
}