.btn {
    border: none;
    font-family: $sansSerif;
    font-size: 1em;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    transition: all 0.3s; 
    text-align: center;  
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: al  l 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/*Color Mods*/
.btn--pink {
    border: 4px double $white;
    border-radius: 10px;
    background: $sage;
    color: $white;
    text-decoration: none;

    &:hover{
        background: $white;
        border: 4px double $sage;
        color: $sage;
    }
}

 /*Size Mods*/
 .btn--defSize {
    padding: $padding / 2 $padding;
    width: 250px;
}

 