.contentCard{
  background-color: $white;
  border-radius: 10px;
  max-width: 100%;

  @include lg {
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 0 36px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(100% / 3 - 30px);
    max-width: calc(100% / 3 - 30px);
    margin: 15px;
    position: relative;
    transform: translate3d(0, 0, 0);
  }
}

.contentCard:hover {
  background: linear-gradient(to right, $mint, $sage);
  box-shadow: 0 0 64px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 1s ease-in-out;
}

.contentCard--horizontal {
  flex-direction: row;
  flex-basis: calc(100% - 30px);

  @include lg {
    max-width: 100%;
  }
}

.contentCard--underContent {

  flex: 1 0 50%;
  margin: auto;
  max-width: 100%;
}

.contentCard__imgWrap {

  @include lg {
    border-bottom: solid 1px #dadada;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    position: relative;
    transition: border-color .2s linear;
    z-index: 1;
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.contentCard__img {
  border-radius: 10px 10px 0 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;

  @include lg {
    border-radius: 10px 0 0 10px;
  }
}