$contentCardGradient: linear-gradient(45deg, $hotpink, $burntOrange);

.contentCard{
  background-color: $white;
  max-width: 100%;
  margin: 0 0 $spacer 0;

  @include lg {
    backface-visibility: hidden;
    box-shadow: $boxShadow;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(100% / 3 - 30px);
    max-width: calc(100% / 3 - 30px);
    margin: 15px;
    position: relative;
    transform: translate3d(0, 0, 0);
  }
}

.contentCard--horizontal {
  flex-direction: row;
  flex-basis: calc(100% - 30px);

  @include lg {
    max-width: 100%;
  }
}

.contentCard--underContent {
  flex: 1 0 50%;
  margin: auto;
  max-width: 100%;
}

.contentCard__imgWrap {
  @include lg {
    border-bottom: solid 1px #dadada;
    overflow: hidden;
    position: relative;
    transition: border-color .2s linear;
    z-index: 1;
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.contentCard__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contentCard__title,
.contentCard__description {
  font-family: $sansSerif;
}

.contentCard__title {
  @include textShadow(1px, 1px, 1px, $lightGray);
  color: $hotpink;
  font-size: $medFont;
}

.contentCard__description {
    font-size: $smallFont;
    font-weight: 100;
}

.contentCard__btnWrap {
  text-align: center;

  @include sm {
    text-align: left;
  }
}