
.hero {
  display: flex;
  font-family: $sansSerif;
  text-align: left;
  margin-bottom: $spacer;
  max-width: 960px;
  width: 100%;

  @include lg {
    margin: 0 auto $spacer * 2;
    width: 90%;
    max-width: 960px;
  }
}

.hero__intro {
  font-family: $sansSerif;
  font-weight: regular;
  margin: 0 auto;
}

.hero__intro h1 {
  font-size: $siteContentHeader;
  font-family: $sansSerif;
  font-weight: bold;
}

.hero__intro h1,
.hero__intro h2,
.hero__contactLinks {
  margin: 0 0 $spacer /2 0;
}

.hero__intro a {
  color: $hotpink;
  text-decoration: none;
}

.hero__icon--withLink {
  color: $hotpink;
  padding-right: $spacer / 3;
}

.hero__icon {
  margin-right: 3px;
}

.hero__copy {
    font-family: $serif;
    font-size: $fontBase;
    line-height: 1.25;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    margin: 0;
}

.hero__copy b {
  font-weight: bold;
}

.hero__contactLinks a {
  font-family: $monospace;
  text-decoration: none;
  font-weight: 600;
}