
.hero {
  font-family: $roboto;
  text-align: center;
  margin: 0 auto $spacer * 2;
  max-width: 1019px;
}

.hero__intro {
  margin: 0 auto;
  font-weight: 700;
}

.hero__copy {
    font-size: 1em;
    line-height: 26px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
}