.hero {
  display: flex;
  font-family: $sansSerif;
  text-align: left;
  margin-bottom: $spacer;
  margin: $spacer *2 auto $spacer * 2 auto;
  max-width: 960px;
  width: 100%;

  @include lg {
    text-align: center;
    margin: $spacer auto $spacer * 2 auto;
  }
}

.hero__intro {
  font-family: $sansSerif;
  font-weight: regular;
  margin: 0 auto;
}

.hero__intro h1, 
.hero__intro h2 {
  @include textShadow(0, 1px, 0, $darkGray);

  @include md {
    text-shadow: none;
  }
}

.hero__intro h1 {
  font-family: $sansSerif;
  font-weight: $bold;

  @include lg {
    font-size: 3.85em;
  }
}

.hero__intro h2 {
  font-size: 1.25em;

  @include lg {
    font-size: 1.4em;
  }
}

.hero__intro h1,
.hero__intro h2 {
  color: $white;
  margin: 0;

  @include sm {
    color: $black;
  }
}

.hero__intro a {
  color: $hotpink;
  text-decoration: none;
}

.hero__copy {
  font-family: $serif;
}

.hero__contactLinks {
  display: flex;
  justify-content: center;
  margin: $spacer 0;
  flex-direction: column;
  font-size: $smallFont;
  
  @include md {
      flex-direction: row;
  }
}

.hero__contactLinks a {
  @include textShadow(1px, 1px, 0, $lightGray);
  font-family: $monospace;
  text-decoration: none;
  font-weight: 900;
  line-height: 1;
  text-align: left;

  @include lg {
    text-align: center;
    text-shadow: none;
  }
}

.hero__icon--withLink {
  color: $hotpink;
  flex-basis: calc(100% / 3);
  text-align: center;

  @include lg {
    min-width: 100px;
  }
}

.hero__icon {
  margin-right: 3px;
  vertical-align: middle;
}

.hero__copy {
    font-family: $serif;
    font-size: $fontBase;
    line-height: 1.25;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    margin: 0;
}

.hero__copy b {
  font-weight: bold;
}

.hero__feature {
  font-family: $sansSerif;
}

.hero__feature h3 {
  font-family: $sansSerif;
  font-weight: $regular;
}

.hero__feature ul {
  font-weight: $light
}