.nav {
    display: flex;
    align-items: center;
    background: transparent;
    // padding: 0 $padding / 2;
    width: 100%;
    z-index: 1;

}

.navList {
    display: flex;
    font-size: $fontBase;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;

    @include lg {
        margin: 20px auto 0 auto;
        max-width: 960px;
    }
}

.navLogo a {
    display: inline-block;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navList__link {
    display: inline-block;

    @include lg {
        display: inline-block;
    }

}

.navList__link a {
    color: $black;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.navList__link a:hover {
  transform: scale(1.1);
}

.navList__link .router-link-exact-active {
    color: $hotpink;
    border-bottom: 1px solid $hotpink;
}

