.nav {
    display: flex;
    align-items: center;
    background: transparent;
    font-family: $sansSerif;
    width: 100%;
    z-index: 1;
}

.navList {
    display: flex;
    font-size: $smallFont;
    font-weight: $regular;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;

    @include lg {
        margin: 20px auto 0 auto;
        max-width: 960px;
    }
}

.navList__link {
    display: inline-block;
    text-align: center;

    @include lg {
        display: inline-block;
    }
}

.navList__link a {
    color: $darkGray;
    text-decoration: none;
    width: auto;
}

.router-link-exact-active .router-link-active {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}