.tropicalBg {
    padding: 2em;
    background-image: url(https://images.unsplash.com/photo-1587367597959-5f44e2751e42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=606&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}