//Spacers
$padding: 20px;
$spacer: 1em;
$spacer-sm: .25em;

//Colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0,0,0,1);
$hotpink: rgba(234, 61, 150, 1);
$mint: rgba(123, 224, 173, 1);
$aqua: rgba(27, 153, 139, 1);
$yellow: rgba(255, 209, 102, 1);

/*New coluhs*/
$lightblue: rgba(187, 203, 219, 1);
$sage: rgba(158, 189, 158, 1);
$burntOrange: rgba(221, 133, 92, 1);
$eggshell: rgba(255, 224, 181, 1);
$purpleNurple: rgba(116, 81, 81, 1);

//Fonts
$roboto: 'Roboto', Arial, sans-serif;
$serif:  Georgia, Tahoma, 'Times New Roman', serif;

//Font Size
$siteContentHeader: 2.25em;
$smallFont: 1.25em;
$medFont: 2.25em;
$lgFont: 3.75em;

//Font Weight
$light: lighter;

//Shadows
$boxShadow: 0 0 36px rgba(0,0,0,0.1);
$hoverShadow:  0 0 64px rgba(0,0,0,0.22);
