
@font-face {
  font-family: "Lato";
  src: url("~@/assets/fonts/Lato/Lato-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
font-family: "Lato";
    src: url("~@/assets/fonts/Lato/Lato-Light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
font-family: "Lato";
    src: url("~@/assets/fonts/Lato/Lato-Italic.ttf");
  font-weight: regular;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
    src: url("~@/assets/fonts/Lato/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
    src: url("~@/assets/fonts/Lato/Lato-Black.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
font-family: "Merriweather";
  src: url("~@/assets/fonts/Merriweather/Merriweather-Regular.ttf");
font-weight: regular;
font-style: normal;
}

@font-face {
font-family: "Merriweather";
  src: url("~@/assets/fonts/Merriweather/Merriweather-Light.ttf");
  font-weight: light;
  font-style: normal;
}

@font-face {
font-family: "Merriweather";
  src: url("~@/assets/fonts/Merriweather/Merriweather-Italic.ttf");
  font-weight: regular;
  font-style: italic;
}

@font-face {
font-family: "Merriweather";
  src: url("~@/assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}




