//Global
@import 'global/_variables.scss';
@import 'global//mixins/_mixins.scss';
@import 'global/mixins/_flexboxMixins.scss';

//Components
@import 'components/_nav.scss';
@import 'components/_navMobile.scss';
@import 'components/_hero.scss';
@import 'components/_footer.scss';
@import 'components/_feature.scss';
@import 'components/_button.scss';
@import 'components/_contentCard.scss';
@import 'components/_gallery.scss';

// Views
// @import 'views/home.scss';

*,
html {
  box-sizing: border-box;
}
#app {
  background: linear-gradient(45deg, $sage, $white);
  font-family: $roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/*Global Layout Rules*/
.site__container {
  position: relative;
  overflow: hidden;
  padding: 0 1em;
  width: 100%;

  @include sm {
    margin: 54px auto;/*54px height of nav*/
    max-width: 1420px;
    padding: 0 40px;
  }
}

/*Content Groupings*/
.contentGroup__inner {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: -15px auto;

    @include lg {
      max-width: calc(83.33333% - 30px);
    }
}

.siteContent {
    padding: 26px 30px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a {
  color: $hotpink;
  text-decoration: none;
}

/*Links*/

a {
  color: $hotpink;
  padding-bottom: .25em;
  text-decoration: none;
  font-size: $smallFont;
}

.hover--wave:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='hotpink' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20px;
  border-bottom: 0;
  padding-bottom: .25em;
  text-decoration: none;
  width: 100%;
}