//Global
@import 'global/_variables.scss';
@import 'global/_layout.scss';
@import 'global/_mixins.scss';

//Components
@import 'components/_nav.scss';
@import 'components/_navMobile.scss';
@import 'components/_footer.scss';
@import 'components/_feature.scss';

// Views
// @import 'views/home.scss';
// @import 'views/about.scss';

// App
html {
  box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.container {
  position: relative;
}

.isMobile {
  transform: translateX(300);
}

main {
  margin: 0 auto;
  width: 960px;
}

