//Global
@import 'global/_variables.scss';
@import 'global//mixins/_mixins.scss';
@import 'global/mixins/_flexboxMixins.scss';

//Components
@import 'components/_nav.scss';
@import 'components/_navMobile.scss';
@import 'components/_jumbotron.scss';
@import 'components/_footer.scss';
@import 'components/_feature.scss';
@import 'components/_button.scss';
@import 'components/_splitCta.scss';
@import 'components/_gallery.scss';

// Views
// @import 'views/home.scss';
// @import 'views/about.scss';

// App

*,
html {
  box-sizing: border-box;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.container {
  position: relative;
  overflow: hidden;
}

.isMobile {
  transform: translateX(300);
}

main {
  margin: 0 auto;
  width: 100%;
}

a {
  color: $yellow;
}

